body {
  background-color: #1B0311;
  color: #FDE4FA;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3rem;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-board .container {
  box-shadow: 0 0 10px 3px #fff;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/** Turns off text-shadow for loser**/
.game-board.winner-x .square.circle {
  text-shadow: none;
}
.game-board.winner-o .square {
  text-shadow: none;
}
.game-board.winner-o .square.circle {
  text-shadow:
  0 0 6px rgba(253, 228, 250, 0.92),
  0 0 30px rgba(253, 228, 250,0.34),
  0 0 12px rgba(253, 228, 250,0.52),
  0 0 21px rgba(253, 228, 250,0.92),
  0 0 34px rgba(253, 228, 250,0.78),
  0 0 54px rgba(253, 228, 250,0.92);
}

.square {
  background: transparent;
  width: 6rem;
  height: 6rem;

  font-size: 4rem;

  color: #FDE4FA;
  float: left;
  font-weight: bold;
  line-height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

  border: 2px solid #FDE4FA;

  box-shadow: inset 0 0 8px 2px #fff;

  text-shadow:
  0 0 6px rgba(202,228,225,0.92),
  0 0 30px rgba(202,228,225,0.34),
  0 0 12px rgba(30,132,242,0.52),
  0 0 21px rgba(30,132,242,0.92),
  0 0 34px rgba(30,132,242,0.78),
  0 0 54px rgba(30,132,242,0.92);
}

.square.circle {
  text-shadow:
  0 0 6px rgba(253, 228, 250, 0.92),
  0 0 30px rgba(253, 228, 250,0.34),
  0 0 12px rgba(253, 228, 250,0.52),
  0 0 21px rgba(253, 228, 250,0.92),
  0 0 34px rgba(253, 228, 250,0.78),
  0 0 54px rgba(253, 228, 250,0.92);
}

.square:focus {
  outline: none;
}

/** Right Column **/
.game-info div {
  font-weight: bold;
}

.status {
  margin-bottom: 10px;
}

.game-info ol li:last-child {
  margin-top: 0.75rem;
  list-style-type: none;
}